/***** 
COLOR CHEAT SHEET 
https://coolors.co/palette/001219-005f73-0a9396-94d2bd-e9d8a6-ee9b00-ca6702-bb3e03-ae2012-9b2226
001219- black
005f73- dark teal
0a9396- cyan
94d2bd- light mint
e9d8a6- vanilla
ee9b00- orange
ca6702- dark orange
bb3e03- rust
ae2012- light red
9b2226- auburn

*****/


/********************/
/******* FONTS ******/
/********************/
body, p {
    font-family: "SUSE", system-ui;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Fascinate Inline", system-ui;
}

/********************/
/******* HERO ******/
/********************/
header.masthead{
    background-image: url('../img/broadway.webp')
}

.masthead h1{
    color: #001219;
    font-size: 65px !important;
}

.masthead p {
    color: #001219;
    text-shadow: 1px 1px 3px #001219;
}

/********************/
/******* COLORS ******/
/********************/
.btn-primary{
    background: #bb3e03;
}

.btn-primary:hover{
    background: #bb3d03dc;
}

hr.divider {
    background-color: #bb3e03;
}

.bg-primary {
    background-color: #005f73 !important;
}

hr.divider-light {
    background-color: #fff;
}

.text-primary {
    color: #005f73 !important;
}

/********************/
/******* NAV ******/
/********************/
#mainNav.navbar-shrink {
    background-color: #e9d8a6;
}

#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    color: #005f73;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #005f73 !important;
}

@media (min-width: 992px) {
    #mainNav.navbar-shrink .navbar-brand:hover {
        color: #005f73;
    }
}

@media (min-width: 992px) {
    #mainNav .navbar-brand {
        color: #fff;
    }
}

@media (min-width: 992px) {
    #mainNav .navbar-nav .nav-item .nav-link {
        color: #fff;
        padding: 0 1rem;
    }
}

@media (min-width: 992px) {
    #mainNav .navbar-brand:hover {
        color: #94d2bd;
    }
}

@media (min-width: 992px) {
    #mainNav .navbar-nav .nav-item .nav-link:hover {
        color: #94d2bd;
    }
}